@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
    display: flex;
    justify-content: center;
}

* {
    font-size: 15px;
    color: black;
    letter-spacing: 3px;
    font-family: 'Comfortaa', cursive;
}

input {
    width: 350px;
}

.btn {
    font-size: 10px;
}